.work {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: left;
    height: fit-content;
    width: fit-content;
    padding: 10px;
    margin: 5px ;
    background-color: rgb(29, 37, 37);
    border-radius: 5px;
}